header{
    width: 1920px;
    border-bottom:1px solid #E3E3E3 ;
}
header .inner{
    width: 1760px;
    margin: 0 auto;
}
header .inner .h_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
header .inner .h_top a{}
header .inner .h_top a h1{}
header .inner .h_top a h1 img{}
header .inner .h_top form{
    display: flex;
}
header .inner .h_top form input{
    background-color: #F5F5F5;
    width: 500px;
    padding: 10px 0 10px 20px;
    border-radius: 15px;
}
header .inner .h_top form p{
    position: relative;
}
header .inner .h_top form p img{
    position: absolute; top: 10px; right: 10px;
}
header .inner .h_top .right_menu{}
header .inner .h_top .right_menu a{
    padding-left: 8px;
}
header .inner .h_top .right_menu a:hover{
    background-color: ;
}
header .inner .h_btm{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 48px;
    align-items: center;
}
header .inner .h_btm .left_menu{}
header .inner .h_btm .left_menu a{}
header .inner .h_btm .left_menu a img{}
header .inner .h_btm .center_menu{
    position: absolute; right: 590px;
}
header .inner .h_btm .center_menu a:hover{
    border-bottom:1px solid #222;
}
header .inner .h_btm .center_menu a{
    margin-right: 30px;
    font-weight: 500;
    font-size: 0.9375rem;
}
header .inner .h_btm .right_menu{}
header .inner .h_btm .right_menu a{
    padding: 5px 20px;
    border-radius: 15px;
    background: #000;
    color: #fff;
}
header .inner .h_btm .right_menu a:hover{
    background-color: #555;
}
/* footer */
footer {
    width: 100%;
    height: 286px;
    background-color: #222;
    color: #fff;
}
footer .footer_top{
    border-bottom:1px solid #fff;
}
footer .footer_top .footer_menu{
    display: flex;
    width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 25px 0;
}
footer .footer_top .footer_menu .left_menu{}
footer .footer_top .footer_menu .left_menu a:hover{
    border-bottom:1px solid #fff;
}
footer .footer_top .footer_menu .left_menu a{
    color: #fff;
    margin-right: 38px;
    font-size: 0.9375rem;
    font-weight: 700;
}
footer .footer_top .footer_menu .left_menu a:last-child{
    margin-right: 0;
}
footer .footer_top .footer_menu .right_menu{
    
}
footer .footer_top .footer_menu .right_menu a:hover{
    border-bottom:1px solid #fff;
}
footer .footer_top .footer_menu .right_menu a{
    color: #fff;
    margin-left: 38px;
    font-size: 0.9375rem;
    font-weight: 700;
}
footer .footer_btm {
    width: 1400px;
    margin: 0 auto;
}
footer .footer_btm h2{
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 0.8125rem;
    font-weight: 700;
}
footer .footer_btm address{font-size: 0.8125rem; margin-bottom: 10px;}
footer .footer_btm p {font-size: 0.8125rem; margin-bottom: 10px;}


.main{
    position: relative;
}
.header_menu{
    width: 1758px;
    display: none;
    margin: 0 auto;
}
.header_menu .category_menu{
    height: 600px;
    display: flex;
    justify-content: space-between;
}
.header_menu .category_menu .right_menu{
    display: flex; 
}
.header_menu .category_menu .right_menu .left_category {
    display: flex; flex-flow: column nowrap;
    width: 200px;
}
.header_menu .category_menu .right_menu .left_category a{
    padding: 10px 0;
}
.header_menu .category_menu .right_menu .middle_category {
    width: 200px;
    display: flex; flex-flow: column nowrap;
    
}
.header_menu .category_menu .right_menu .middle_category a{
    padding: 10px 0;
}
.header_menu .category_menu .right_menu .right_category {
    width: 200px;
    display: flex; flex-flow: column nowrap;
}
.header_menu .category_menu .right_menu .right_category a{
    padding: 10px 0;
}
.left_category a:hover, .middle_category a:hover, .right_category a:hover{
    background-color: #F5F5F5;
}
.header_menu .left_bnr a img {margin-left: 28px;}
.header_menu .left_bnr {align-content: center;}

.header_menu .category_menu .left_category {
    overflow: hidden;
}
.header_menu:hover {
}

@keyframes Transfer {
    0% {transform: scaleX(0);}
    100% {transform:scaleX(0)}
}