main{
    width: 1920px;
}
main .mainBnr{}
main .mainBnr .swiper-wrapper{
    text-align: center;
    align-items: center;
}
main .mainBnr .swiper-slide{
    width: 640px; height: 800px;
    align-content: center;
}
main .mainBnr .swiper-slide h3{
    font-size:2rem;
    color: #fff;
    font-weight: 700;
    padding-bottom: 20px;
}
main .mainBnr .swiper-slide p{
    font-size:1.125rem;
    color: #fff;
    font-weight: 500;
}
main .mainBnr .slide1{background-image: url(../images/index/bnr_bg1.png); background-repeat: no-repeat;}
main .mainBnr .slide2{background-image: url(../images/index/bnr_bg2.png); background-repeat: no-repeat;}
main .mainBnr .slide3{background-image: url(../images/index/bnr_bg3.png); background-repeat: no-repeat;}
main .mainBnr .slide4{background-image: url(../images/index/bnr_bg1.png); background-repeat: no-repeat;}
main .mainBnr .slide5{background-image: url(../images/index/bnr_bg2.png); background-repeat: no-repeat;}
main .mainBnr .slide6{background-image: url(../images/index/bnr_bg3.png); background-repeat: no-repeat;}
main .mainBnr .swiper-pagination span{
background-color: #fff;
}
main .slide_bnr_btn{
    position: relative;
}
main .slide_bnr_btn .swiper-button-next {
    position: absolute; top: -400px; right: 50px;
    color: #fff;
}
main .slide_bnr_btn .swiper-button-prev {
    position: absolute; top: -400px; left: 50px;
    color: #fff;
}

main .sell {
    width: 100%;
    text-align: center;
    margin-bottom: 120px;
}
main .sell h2 {
    margin-top: 120px;
    font-size: 2.8125rem;
    font-weight: 700;
    padding-bottom: 8px;
}
main .sell > p {
    color: #999999;
    padding-bottom: 30px;
}
main .sell .category {}
main .sell .category .active {background-color: #000; color: #fff;}
main .sell .category a {
    padding: 10px 15px;
    font-size: 0.875rem;
    color: rgb(0, 0, 0, 0.2);
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-right: 3px;
}


main .sale .all_view {}
main .best_aria .all_view {
    width: 1400px;
}
main .all_view {
    margin: 0 auto;
    width: 1760px;
    display: flex;
    justify-content: end;
    margin-top: 30px;
}
main .all_view p {margin-left: 3px; font-weight: 500; color: #9E9E9E;}
main .sell .saleContent {
    margin-top: 55px;
    width: 1760px;
}
main .sell .swiper-wrapper {}
main .sell .saleContent .swiper-slide {text-align: start;}
main .sell a h3 {
    font-size:0.875rem; font-weight: 700; margin-bottom: 5px;
    margin-top: 8px;
}
main .sell a > p {font-size:0.875rem; font-weight: 500; margin-bottom: 5px;}
main .sell a .sale_price {margin-bottom: 5px;}
main .sell a .sale_price del {color: #B9B9B9; }
main .sell a em {color: #FF0000; font-weight: 700}
main .sell a span {font-weight: 700}
main .sell a .star {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-items: center;
}
main .sell a .star img{position: relative; top: 3px;}
main .sell a .star p{}
main .sell .slide_btn {
    position: relative;
}
main .sell .slide_btn .swiper-button-next{
    position: absolute; top: -180px; right: 20px;
    transform: scale(60%);
    color: #222;
}
main .sell .slide_btn .swiper-button-prev{
    position: absolute; top: -180px; left: 20px;
    transform: scale(60%);
    color: #222;
}

/* event 시작 */
main .event_box{
    background-color: #222;
    padding: 105px 0;
}
main .event_box h2{ color: #fff; padding: 0; margin: 0 0 8px;}
main .event_box > p{ color: #fff; padding-bottom: 50px;}
main .event_box .event_container{
    display: flex;
    width: max-content;
    margin: 0 auto;
    text-align: left;
}
main .event_box .event_container .event{}
main .event_box .event_container .contents2{padding: 0 26px;}
main .event_box .event_container .event a img{}
main .event_box .event_container .event a p{
    font-size: 1.125rem;
    font-weight: 700;
    color:#fff;
    margin:13px 0 13px 0;
}
main .event_box .event_container .event a em{
    font-size: 0.9375rem;
    font-weight: 500;
    color:#fff;
}
/* event 종료 */

main .sell .newContent {
    margin-top: 55px;
    width: 1760px;
}
main .sell .newContent .swiper-slide {text-align: start;}

/* 브랜드 배너 시작 */
main .brand_bnr{
    width: 100%;
    background-color: #222;
    display: flex;
    padding: 95px 0;
}
/* 브랜드 배너 폰트 */
main .brand_bnr .brand_bnr_box{}
main .brand_bnr .brand_bnr_box{text-align: center;}
main .brand_bnr .brand_bnr_box .main_text{
    font-size: 1.3125rem;
    text-align: start;
    line-height: 1.4;
    font-weight: 700;
}
main .brand_bnr .brand_bnr_box h3{}
main .brand_bnr .brand_bnr_box .main_left_bg1 {
    position: relative;
}
main .brand_bnr .brand_bnr_box .main_left_bg1 .main_text{
    position: absolute; bottom: 68px; left: 63px;
}
main .brand_bnr .brand_bnr_box .main_left_bg2 {
    position: relative;
}
main .brand_bnr .brand_bnr_box .main_left_bg2 .main_text{
    position: absolute; bottom: 68px; left: 63px;
    color:#fff;
}
main .brand_bnr .brand_bnr_box p{}
main .brand_bnr .brand_bnr_box p em{}
main .brand_bnr .text_ani {color: #fff;}
main .brand_bnr .text_ani h3{font-size: 0.875rem; font-weight: 700; margin-bottom: 5px;}
main .brand_bnr .text_ani p{font-size: 0.875rem; font-weight: 500; margin-bottom: 10px;}
main .brand_bnr .text_ani em{font-size: 0.875rem; font-weight: 500;}
/* 브랜드 배너 폰트 */
main .brand_bnr .brand_bnr_box{
    width: 1760px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
main .brand_bnr .left_bnr{
    display: flex;
}
main .brand_bnr .left_bnr .main_left_bg1{
    background-image: url(../images/index/perfume_main.png);
    width: 527px;
    height: 661px;
    margin-right: 33px;
}
main .brand_bnr .left_bnr .right_menu{}
main .brand_bnr .left_bnr .right_menu .top_bg{
    background-image: url(../images/index/perfume_001.png);
    width: 303px; height: 314px;
}
main .brand_bnr .left_bnr .right_menu .btm_bg{
    margin-top: 33px;
    background-image: url(../images/index/perfume_002.png);
    width: 303px; height: 314px;
}
/* -------------------------------------------------left */
main .brand_bnr .right_bnr{
    display: flex;
}
main .brand_bnr .right_bnr .main_left_bg2{
    background-image: url(../images/index/bose_maimn.png);
    width: 527px;
    height: 661px;
    margin-right: 33px;
}
main .brand_bnr .right_bnr .right_menu{}
main .brand_bnr .right_bnr .right_menu .top_bg{
    background-image: url(../images/index/bose_001.png);
    width: 303px; height: 314px;
}
main .brand_bnr .right_bnr .right_menu .btm_bg{
    background-image: url(../images/index/bose_002.png);
    width: 303px; height: 314px;
    margin-top: 33px;
}
/* 애니메이션 */
main .brand_bnr .ani {height: 314px; align-content: center; overflow: hidden;}
main .brand_bnr .text_ani{
    display: none;
    align-content: center;
    height: 100%;
    width: 100%;
}
main .brand_bnr .top_bg:hover .text_ani{
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    animation: bestTransfer 0.3s linear ;
}
main .brand_bnr .btm_bg:hover .text_ani{
    display: block; 
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    animation: bestTransfer 0.3s linear ;
}

@keyframes bestTransfer {
    0% {transform:translateY(150px);}
    100% {transform:translateY(0)}
    
}
/* 브랜드 배너 종료 */
/* best 시작 */
main{}
main .best_aria{}
main .best_aria .best{
    width: 1400px;
    margin-bottom: 50px;
}
main .best_aria .best_contents{}
main .best_aria .best_contents .best{}
main .best_aria .best_contents .best .swiper-wrapper{
    display: flex;
}
main .best_aria .best_contents .best .swiper-slide {
    display: flex;
    justify-content: space-between;
}
main .best_aria .best_contents .best .swiper-slide a .photo img {
    width: 330px;
}
main .best_aria .best_contents .best .swiper-slide a{
    text-align: start;
}
main .best_aria {
    position: relative;
}
main .best_aria .swiper-pagination {
    left: auto;
    right: 220px; bottom: 0;
    width: max-content;
    height: max-content;
}
main .best_aria .swiper-pagination .swiper-pagination-bullet { margin: 5px 0;}


/* best 종료 */
/* 카드배너 시작*/
main .event_bnr_bg {
    background-image: url(../images/index/bnr_001.png);
    height: 400px;
    position: relative;
}
main .event_bnr_bg .event_bnr_text {
    position: absolute; left: 378px; bottom: 143px;
}
main .event_bnr_bg .event_bnr_text h2 {
    font-size:1.875rem;
    font-weight: 700;
    color: #fff;
    line-height: 1.4;
}
main .event_bnr_bg .event_bnr_text p {
    font-size:1.25rem;
    font-weight: 700;
    color: #fff;
}
/* 카드배너 종료*/

/* 브랜드컨텐츠시작 */
main {}
main .brand {
    width: 100%;
}
main .brand .brand_bg1 > h3,main .brand .brand_bg2 > h3,main .brand .brand_bg3 > h3{
    font-weight: 700;
    font-size:2.25rem;
    line-height: 1.3;
    color: #fff;
}
main .brand .brand_bg1 > p, main .brand .brand_bg2 > p,main .brand .brand_bg3 > p {
    font-weight: 600;
    font-size: 0.9375rem;
    line-height: 1.3;
    color: #fff;
}
main .brand .brand_bg1 > h3{
    font-weight: 700;
    font-size:2.25rem;
    line-height: 1.3;
    color: #fff;
}
main .brand .brand_bg1 > p {
    font-weight: 600;
    font-size: 0.9375rem;
    line-height: 1.3;
    color: #fff;
}
main .brand .brand_wrap{
    display: flex;
}
main .brand .brandContent {
    text-align: start;
}
main .brand .brandContent1 {
    width: 960px;
    padding-right: 10px;
    padding-left: 30px;
    margin: 0;
}
main .brand .brandContent2 {
    width: 960px;
    padding-right: 20px;
    padding-left: 20px;
}
main .brand .brandContent3 {
    width: 960px;
    padding-right: 10px;
    padding-left: 30px;
    margin: 0;
}
main .brand .brand_wrap .brand_bg1{
    background-image: url(../images/index/brand_main1.png);
    width: 960px; height: 600px;
    align-content: center;
}
main .brand .brand_wrap .brand_bg2{
    background-image: url(../images/index/brand_main2.png);
    width: 960px; height: 600px;
    align-content: center;
}
main .brand .brand_wrap .brand_bg3{
    background-image: url(../images/index/brand_main3.png);
    width: 960px; height: 600px;
    align-content: center;
}
main .brand .brandContent1 .swiper-slide {
    align-content: center;
}
main .brand .brandContent2 .swiper-slide {
    align-content: center;
}
main .brand .brandContent3 .swiper-slide {
    align-content: center;
}
main .sell .brand_wrap {
    position: relative;
}
main .sell .brand_wrap .slide_brand_btn {}
main .sell .brandContent{
    position: relative;
}
main .sell .brand_wrap .slide_brand_btn{
    
}
main .sell .brand_wrap .brandContents{}
main .sell .brand_wrap .swiper-button-next {
    transform: scale(0.5);
    display: inline-block !important;
    color: #222;
    right: 10px;
}
main .sell .brand_wrap .swiper-button-prev {
    transform: scale(0.5);
    display: inline-block !important;
    left: 8px;
    color: #222;
}
main .sell .left_brand .swiper-button-next {
    transform: scale(0.5);
    display: inline-block !important;
    right: 5px;
    color: #222;
}
main .sell .left_brand .swiper-button-prev {
    transform: scale(0.5);
    display: inline-block !important;
    left: 5px;
    color: #222;
}
/* 브랜드컨텐츠종료 */
main{}
main .event_bnr{
    background-image: url(../images/index/bnr_002.png);
    width: 100%;
    height: 400px;
}